<div cdkDropListGroup>
  <ng-container *ngFor="let day of weekDates">
      <div class="example-container">
        <h2>{{day['dayName']}}</h2>
        <div class="day-date">{{day['date']}}</div>
        <div
          cdkDropList
          [cdkDropListData]="day['dayName']"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
<!--          <div class="example-box" *ngFor="let item of day['dayName']" cdkDrag>{{item['eventName']}}</div>-->
          <container-element [ngSwitch]="day['dayName']">
            <div *ngSwitchCase="'sunday'">
              <div class="example-box"  *ngFor="let item of sunday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'monday'">
              <div class="example-box"  *ngFor="let item of monday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'tuesday'">
              <div class="example-box"  *ngFor="let item of tuesday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'wednesday'">
              <div class="example-box"  *ngFor="let item of wednesday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'thursday'">
              <div class="example-box"  *ngFor="let item of thursday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'friday'">
              <div class="example-box"  *ngFor="let item of friday" cdkDrag>{{item['eventName']}}</div>
            </div>
            <div *ngSwitchCase="'saturday'">
              <div class="example-box"  *ngFor="let item of saturday" cdkDrag>{{item['eventName']}}</div>
            </div>
          </container-element>
        </div>
      </div>
  </ng-container>
<!--  <div class="example-container">-->
<!--    <h2>sunday</h2>-->
<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="sunday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of sunday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>monday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="monday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of monday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>tuesday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="tuesday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of tuesday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>wednesday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="wednesday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of wednesday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="example-container">-->
<!--    <h2>thursday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="thursday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of thursday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="example-container">-->
<!--    <h2>friday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="friday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of friday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="example-container">-->
<!--    <h2>saturday</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="saturday"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let item of saturday" cdkDrag>{{item['eventName']}}</div>-->
<!--    </div>-->
<!--  </div>-->
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
