<div cdkDropListGroup>
  <ng-container *ngFor="let day of weekDates; index as i">
    <div class="example-container">
      <h2>{{day['dayName']}}</h2>
      <div *ngIf="day['date'] === today
        && day['month'] === month
        && day['year'] === year; else elseDay" class="day-date day-date__current">{{day['date']}}</div>
      <ng-template #elseDay>
        <div class="day-date">{{day['date']}}</div>
      </ng-template>

      <div
        cdkDropList
        [id]="day['dayName']"
        [cdkDropListData]="{ dayNumber: i, dayName: day['dayName'], data: this.weekData[day['dayName']] }"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of weekData[day['dayName']]" cdkDrag (click)="openDialog(item)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="example-box__title">
            <span>{{ item['data']['eventName'] }}</span>
            <div>{{ item['data']['eventTimeStart'] * 1000 | date: 'HH:mm' }} - {{ item['data']['eventTimeEnd'] * 1000 | date:'HH:mm'}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
