:host {
  padding: 0;
  margin: 0;
  .header {
    height: 70px;
    &-container {
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin: 10px 0;
      img {
        height: 60px;
      }
    }
    &-logo {
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
    &-logout {
      height: fit-content;
    }
  }
  ::ng-deep .header-button {
    top: 50%;
    transform: translateY(-50%);
    min-width: fit-content;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
    margin: 0 5px;
  }
}
