<div class="popup-panel">
  <div class="popup-panel__item" (click)="editAccountToggle()">
    <span class="material-icons">create</span>
  </div>
  <div class="popup-panel__item" (click)="deleteEvent()">
    <span class="material-icons">delete_outline</span>
  </div>
  <div class="popup-panel__item">
    <span class="material-icons">more_vert</span>
  </div>
  <div class="popup-panel__item" (click)="onNoClick()">
    <span class="material-icons">clear</span>
  </div>
</div>

<ng-container *ngIf="!isEventEdit">
  <div class="content-panel">
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">task_alt</span>
      <div class="content-panel__item-header">{{ data.eventName }}</div>
    </div>
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">assignment</span>
      <div class="content-panel__item-description">{{ data.eventType}}</div>
    </div>
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">alarm</span>
      <div class="content-panel__item-description">{{ data.eventDate * 1000 | date}}</div>
      <div class="content-panel__time">
        <div class="content-panel__item-description">{{ data.eventTimeStart }}</div>
        <span> - </span>
        <div class="content-panel__item-description">{{ data.eventTimeEnd }}</div>
      </div>
    </div>
    <div *ngIf="data.eventDescr" class="content-panel__item">
      <span class="material-icons content-panel__item-icon">sort</span>
      <div class="content-panel__item-description">{{ data.eventDescr }}</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isEventEdit">
  <form class="content-panel" [formGroup]="form" (ngSubmit)="updateEvent()">
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">task_alt</span>
      <mat-form-field class="content-panel__item-input">
        <mat-label>Event name</mat-label>
        <input matInput placeholder="Event" formControlName="eventName">
      </mat-form-field>
    </div>
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">assignment</span>
      <mat-button-toggle-group class="content-panel__item-input" name="fontStyle" aria-label="Font Style" formControlName="eventType" value="event">
        <mat-button-toggle value="event" class="content-panel__item-toggle">Event</mat-button-toggle>
        <mat-button-toggle value="task" class="content-panel__item-toggle">Task</mat-button-toggle>
        <mat-button-toggle value="reminder" class="content-panel__item-toggle">Reminder</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">event</span>
      <mat-form-field appearance="fill" class="content-panel__item-input">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="eventDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="content-panel__item">
      <span class="material-icons content-panel__item-icon">restore</span>
      <div class="time-picker">
        <div class="time-picker__item">
          <mat-form-field appearance="fill">
            <mat-label>Start</mat-label>
            <input matInput type="time" formControlName="eventTimeStart" class="time-picker__input">
          </mat-form-field>
        </div>
        <div class="time-picker__item">
          <mat-form-field appearance="fill">
            <mat-label>End</mat-label>
            <input matInput type="time" formControlName="eventTimeEnd" class="time-picker__input">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="data.eventDescr" class="content-panel__item">
      <span class="material-icons content-panel__item-icon">sort</span>
      <mat-form-field class="example-full-width" class="content-panel__item-input">
        <mat-label>Event description</mat-label>
        <textarea matInput placeholder="" formControlName="eventDescr"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Update</button>
  </form>
</ng-container>

