:host {
  display: block;
    mat-dialog-container {
      padding: 10px;
    }
  .popup-panel {
    display: flex;
    width: 350px;
    justify-content: flex-end;
    &__item {
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .content-panel {
    margin: 10px 0;
    &__item {
      display: flex;
      margin-bottom: 10px;
      &-icon {
        margin-right: 10px;
      }
      &-header {
        font-size: 20px;
      }
      &-description {
        font-size: 14px;
      }
    }
  }
}



