:host {
  display: block;
  width: 510px;
    mat-dialog-container {
      padding: 10px;
    }
  .popup-panel {
    display: flex;
    justify-content: flex-end;
    &__item {
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .content-panel {
    margin: 10px 0;
    &__item {
      display: flex;
      margin-bottom: 10px;
      &-icon {
        margin-right: 10px;
      }
      &-header {
        font-size: 20px;
        width: 100%;
        white-space: normal
      }
      &-description {
        font-size: 14px;
      }
      &-input {
        width: 100%;
        justify-content: space-between;
      }
      &-toggle {
        width: inherit;
      }
    }
    &__time {
      display: flex;
      margin: 0 10px;
    }
    &__complete {
      text-align: end;
    }
  }
}

.time-picker {
  display: flex;
  &__item {
    ::ng-deep mat-form-field {
      width: 240px;
    }
  }
  &__input {
    width: fit-content;
  }
}
