<app-dashboard-header></app-dashboard-header>
<app-notification></app-notification>
<div class="calendar-wrapper">
  <div>
    <div class="example-button-container">
      <button mat-raised-button class="create" (click)="toggleShow()">
        <mat-icon>plus_one</mat-icon>
        Create Event
      </button>
    </div>
    <app-dashboard-calendar></app-dashboard-calendar>
  </div>
  <div *ngIf="isShown">
    <app-event-creator (shownToggle)="toggleShow()"></app-event-creator>
  </div>
  <app-dashboard-scheduler></app-dashboard-scheduler>
</div>

