<div class="creator">
  <div class="creator-header">
    <div class="creator-header__close">&times;</div>
  </div>
  <form class="creator-form" [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label>Event name</label>
    </div>
    <input type="text" formControlName="eventName">
    <div class="creator-form__type">
      <div class="creator-from__type-item">Event</div>
      <div class="creator-from__type-item">Task</div>
      <div class="creator-from__type-item">Reminder</div>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="eventDate">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <select name="" id="" formControlName="dayOfWeek">
        <option value="sunday">sunday</option>
        <option value="monday">monday</option>
        <option value="tuesday">tuesday</option>
        <option value="wednesday">wednesday</option>
        <option value="thursday">thursday</option>
        <option value="friday">friday</option>
        <option value="saturday">saturday</option>
      </select>
    </div>
    <div>
      <textarea formControlName="eventDescr"></textarea>
    </div>
    <button [disabled]="form.invalid">Save</button>
  </form>
</div>
