<div class="creator">
  <div class="creator-header">
    <div class="creator-header__close" (click)="shownToggle.emit()">
      <span class="material-icons">clear</span>
    </div>
  </div>
  <form class="creator-form" (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width creator-title">
      <mat-label>Event name</mat-label>
      <input matInput placeholder="Event" formControlName="eventName" class="creator-title" >
    </mat-form-field>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="eventType" class="creator-toggle" value="event">
      <mat-button-toggle value="event" class="creator-toggle__item">Event</mat-button-toggle>
      <mat-button-toggle value="task" class="creator-toggle__item">Task</mat-button-toggle>
      <mat-button-toggle value="reminder" class="creator-toggle__item">Reminder</mat-button-toggle>
    </mat-button-toggle-group>
<!--    <div>-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Choose a date</mat-label>-->
<!--        <input matInput [matDatepicker]="picker" formControlName="eventDate">-->
<!--        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #picker></mat-datepicker>-->
<!--      </mat-form-field>-->
<!--    </div>-->

    <div class="time-picker">
      <div class="time-picker__item">
        <mat-form-field appearance="fill">
          <mat-label>Start</mat-label>
          <input matInput type="datetime-local" formControlName="eventTimeStart" class="time-picker__input">
        </mat-form-field>
      </div>
      <div class="time-picker__item">
        <mat-form-field appearance="fill">
          <mat-label>End</mat-label>
          <input matInput type="datetime-local" formControlName="eventTimeEnd" class="time-picker__input">
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="example-full-width creator-title"
                    [formGroup]="guestForm"
                    (keydown)="EnterSubmit($event, guestForm)">
      <mat-label>Add guest</mat-label>
      <input type="email" matInput placeholder="guest@gmail.com" formControlName="guest" class="creator-title" [value]="">
    </mat-form-field>

    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let guest of this.form.value['eventGuests']" [value]="guest">
        {{ guest }}
      </mat-list-option>
    </mat-selection-list>

    <div>
      <mat-form-field class="example-full-width creator-descr">
        <mat-label>Event description</mat-label>
        <textarea matInput formControlName="eventDescr"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Create</button>
  </form>
</div>
