.creator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  border: 2px solid #0a0a0a;
  padding: 10px;
  background-color: #ffffff;
  &-header {
    height: 30px;
    position: relative;
    &__close {
      position: absolute;
      right: 0;
    }
  }
  &-form {
    &__type {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 10px 0;
      &-item {
        width: fit-content;
      }
    }
  }
}

.time-picker {
  display: flex;
  &__item {
    ::ng-deep mat-form-field {
      width: 120px;
    }
  }
  &__input {
    width: fit-content;
  }
}
